<div class="footer">
  <div class="footer-link">
    {% if site.author.twitter %}
      <a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    {% endif %}
    {% if site.author.github %}
      <a href="https://github.com/{{ site.author.github }}"><i class="fa fa-github" aria-hidden="true"></i></a>
    {% endif %}
    {% if site.author.gitlab %}
      <a href="https://gitlab.com/{{ site.author.gitlab }}"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
    {% endif %}
    {% if site.author.email %}
      <a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    {% endif %}
    <a href="/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>
  </div>
  
  © {{ site.author.name }}. All rights reserved.
</div>
