{% if page.title %}
  {% capture title %}{{ page.title }} | {{ site.title }}{% endcapture %}
{% else %}
  {% capture title %}{{ site.title }}{% endcapture %}
{% endif %}

<meta charset="utf-8">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author.name }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta property="og:type" content="blog">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ site.description }}">
<title>{{ title }}</title>
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<link type="application/xml" rel="sitemap" href="{{ site.url }}/sitemap.xml" title="{{ site.title }}"/>
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />

<link rel="stylesheet" href="/assets/css/main.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.css' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
