---
layout: default
---

<header>
  <div class="header-small">
    <a href="/">{{ site.name }}</a>
  </div>
</header>

<div class="post">
  <div class="post-title">{{ page.title }}</div>
  <span class="post-date">
    <time>{{ page.date | date_to_string }}</time> | <a href="{{ url }}{{ page.url }}#disqus_thread">0 Comments</a>
  </span>
  
  <br><br>

  {{ content }}
  
  <hr />
  {% include disqus.html %}
</div>

<script id="dsq-count-scr" src="//{{ site.author.disqus }}.disqus.com/count.js" async></script>
